.home-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
    color: var(--text-color);
}

.home-div > p {
    font-size: 1.6rem;
}

.home-div .btn {
    margin-top: 2.2rem;
    width: 19.3rem;
    height: 5.2rem;
}

#dev-name {
    font-weight: bold;
    font-size: 1.8rem;
}